
  // Colors

$green: #4CD5C5;
$red: #F40051;
$gray: #6B6A7E;
$white: #FFF;
$lightGray: #F5F5F5;
$dPurple: #0B093B;
$yellow: #F2B300;
$lightBlue: #C4FFFF;
$purple: #7620FF;


  // Breakpoints 

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;