
  // Colors

$green: #4CD5C5;
$red: #F40051;
$gray: #6B6A7E;
$white: #FFF;
$lightGray: #F5F5F5;
$dPurple: #0B093B;
$yellow: #F2B300;
$lightBlue: #C4FFFF;
$purple: #7620FF;


  // Breakpoints 

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


  // Helping Clasess

.pd {
  padding: 100px 0;
}

.heading {
  color: $dPurple;
  padding-bottom: 70px;
  h1 {
    margin: 0 0 10px;
    font-weight: 600;
  }
  p {
    line-height: 1.6;
    width: 50%;
  }
}